@model IEnumerable<Motax.Models.Invoices>
@{
    ViewData["Title"] = "My Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="user-profile py-120">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="user-profile-sidebar">
                    <div class="user-profile-sidebar-top">
                        <div class="user-profile-img">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var imagePath = ViewData["UserAvatar"] as string;
                                if (!string.IsNullOrEmpty(imagePath))
                                {
                                    <img src="@Url.Content("~/Images/Account/Avatar/" + imagePath)" alt="User Avatar" class="avatar-img">
                                }
                                else
                                {
                                    <img src="~/Frontend/assets/img/account/user.jpg" alt="Default Avatar" class="avatar-img">
                                }
                            }
                            else
                            {
                                <img src="~/Frontend/assets/img/account/user.jpg" alt="Default Avatar" class="avatar-img">
                            }

                        </div>

                    </div>
                    <ul class="user-profile-sidebar-list">
                        <li><a asp-action="Profile" asp-controller="Secure"><i class="far fa-user"></i> My Profile</a></li>

                        <li><a asp-action="MyOrder" asp-controller="Order"><i class="far fa-gauge-high"></i> My Order</a></li>

                        <li><a asp-action="Invoices" asp-controller="Order"><i class="far fa-plus-circle"></i> My Invoice</a></li>

                        <li><a asp-action="Wishlist" asp-controller="Car"><i class="far fa-heart"></i> My Favorites</a></li>

                        <li><a asp-action="Compare" asp-controller="Car"><i class="far fa-layer-group"></i> My Compare</a></li>

                        <li><a asp-action="PageNotFound" asp-controller="Home"><i class="far fa-envelope"></i> Messages <span class="badge badge-danger">02</span></a></li>

                        <li><a asp-action="Logout" asp-controller="Secure"><i class="far fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="user-profile-wrapper">
                    <div class="row">
                        <div class="user-profile-card">
                            <h4 class="user-profile-card-title">My Invoices</h4>
                            <div class="user-profile-form">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Invoice Date</th>
                                                <th>Total Amount</th>
                                                <th>Status</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Any())
                                            {
                                                @foreach (var invoice in Model)
                                                {
                                                    <tr>
                                                        <td>@invoice.InvoiceDate.ToString("yyyy-MM-dd")</td>
                                                        <td>@invoice.TotalAmount$</td>
                                                        <td style="color:darkred">@invoice.Status</td>
                                                        <td>
                                                            <a asp-action="InvoiceDetail" asp-route-id="@invoice.Id" class="btn btn-primary btn-sm">View</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="3">No invoices found</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


