@model Motax.ViewModels.HomeViewModel
@{
    Layout = "_layout";
}

<div class="hero-section">
    <div class="hero-slider owl-carousel owl-theme">
        <div class="hero-single" style="background: url(~/Frontend/assets/img/slider/slider-1.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-content">
                            <h6 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">
                                Welcome To
                                Motex!
                            </h6>
                            <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                Best Way To Find Your <span>Dream</span> Car
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".75s">
                                There are many variations of passages orem psum available but the majority have
                                suffered alteration in some form by injected humour.
                            </p>
                            <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                <a href="#" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                <a href="#" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-right">
                            <div class="hero-img">
                                <img src="~/Frontend/assets/img/slider/hero-1.png" alt="" data-animation="fadeInRight" data-delay=".25s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-single" style="background: url(~/Frontend/assets/img/slider/slider-2.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-content">
                            <h6 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">
                                Welcome To
                                Motex!
                            </h6>
                            <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                Best Way To Find Your <span>Dream</span> Car
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".75s">
                                There are many variations of passages orem psum available but the majority have
                                suffered alteration in some form by injected humour.
                            </p>
                            <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                <a href="#" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                <a href="#" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-right">
                            <div class="hero-img">
                                <img src="~/Frontend/assets/img/slider/hero-2.png" alt data-animation="fadeInRight" data-delay=".25s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-single" style="background: url(~/Frontend/assets/img/slider/slider-3.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-content">
                            <h6 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">
                                Welcome To
                                Motex!
                            </h6>
                            <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                Best Way To Find Your <span>Dream</span> Car
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".75s">
                                There are many variations of passages orem psum available but the majority have
                                suffered alteration in some form by injected humour.
                            </p>
                            <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                <a href="#" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                <a href="#" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-right">
                            <div class="hero-img">
                                <img src="~/Frontend/assets/img/slider/hero-4.png" alt data-animation="fadeInRight" data-delay=".25s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="find-car">
    <div class="container">
        <div class="find-car-form">
            <h4 class="find-car-title">Let's Find Your Perfect Car</h4>
            <form asp-action="AdvancedSearch" asp-controller="Car" method="get">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Car Condition</label>
                            <select name="condition" class="select">
                                <option value="All">All Condition</option>
                                <option value="New">New Car</option>
                                <option value="Used">Used Car</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <select name="brand" class="select">
                                <option value="All">All Brand</option>
                                <option value="Ferrari">Ferrari</option>
                                <option value="Hyundai">Hyundai</option>
                                <option value="Mercedes Benz">Mercedes Benz</option>
                                <option value="Toyota">Toyota</option>
                                <option value="BMW">BMW</option>
                                <option value="Nissan">Nissan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Transmission</label>
                            <select name="transmission" class="select">
                                <option value="All">All Transmission</option>
                                <option value="Automatic">Automatic</option>
                                <option value="Manual">Manual</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Year</label>
                            <select name="year" class="select">
                                <option value="All">All Year</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Doors</label>
                            <select name="Doors" class="select">
                                <option value="All">All Doors</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Price Range</label>
                            <select name="price" class="select">
                                <option value="">All Price</option>
                                <option value="1-5000">$1,000 - $5,000</option>
                                <option value="5000-10000">$5,000 - $10,000</option>
                                <option value="15000-20000">$15,000 - $20,000</option>
                                <option value="20000-25000">$20,000 - $25,000</option>
                                <option value="25000-30000">$25,000 - $30,000</option>
                                <option value="30000-100000">$35,000 - $100,000</option>
                                <option value="100000-1000000">$35,000 - $100,000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Body Type</label>
                            <select name="bodyType" class="select">
                                <option value="All">All Body Type</option>
                                <option value="Sedan">Sedan</option>
                                <option value="Compact">Compact</option>
                                <option value="Coupe">Coupe</option>
                                <option value="Wagon">Wagon</option>
                                <option value="Sports">Sports</option>
                                <option value="Electric">Electric</option>
                                <option value="Luxury">Electric</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 align-self-end">
                        <button class="theme-btn" type="submit">
                            <span class="far fa-search"></span> Find Your Car
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="about-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                    <div class="about-img">
                        <img src="~/Frontend/assets/img/about/01.png" alt>
                    </div>
                    <div class="about-experience">
                        <div class="about-experience-icon">
                            <i class="flaticon-car"></i>
                        </div>
                        <b>30 Years Of <br> Quality Service</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right wow fadeInRight" data-wow-delay=".25s">
                    <div class="site-heading mb-3">
                        <span class="site-title-tagline justify-content-start">
                            <i class="flaticon-drive"></i> About Us
                        </span>
                        <h2 class="site-title">
                            World Largest <span>Car Dealer</span> Marketplace.
                        </h2>
                    </div>
                    <p class="about-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour.
                    </p>
                    <div class="about-list-wrapper">
                        <ul class="about-list list-unstyled">
                            <li>
                                At vero eos et accusamus et iusto odio.
                            </li>
                            <li>
                                Established fact that a reader will be distracted.
                            </li>
                            <li>
                                Sed ut perspiciatis unde omnis iste natus sit.
                            </li>
                        </ul>
                    </div>
                    <a href="about.html" class="theme-btn mt-4">Discover More<i class="fas fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="counter-area pt-30 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="flaticon-car-rental"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="500" data-speed="3000">500</span>
                        <h6 class="title">+ Available Cars </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="flaticon-car-key"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="900" data-speed="3000">900</span>
                        <h6 class="title">+ Happy Clients</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="flaticon-screwdriver"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="1500" data-speed="3000">1500</span>
                        <h6 class="title">+ Team Workers</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="flaticon-review"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="30" data-speed="3000">30</span>
                        <h6 class="title">+ Years Of Experience</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="car-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="flaticon-drive"></i> New Arrivals</span>
                    <h2 class="site-title">Let's Check Latest <span>Cars</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
             @foreach (var item in Model.Cars)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="car-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="car-img">
                            <span class="car-status status-1">Used</span>
                            <a asp-action="Detail" asp-controller="Car" asp-route-id="@item.Id">
                                <img src="~/Images/Car/Single/@item.ImageSingle" alt="@item.Name">
                            </a>
                            <div class="car-btns">
                                <form asp-action="AddToWishlist" asp-controller="Car" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="carId" value="@item.Id" />
                                    <button type="submit" class="btn btn-link p-0">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </form>
                                <form asp-action="AddToCompare" asp-controller="Car" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="carId" value="@item.Id" />
                                    <button type="submit" class="btn btn-link p-0">
                                        <i class="far fa-arrows-repeat"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="car-content">
                            <div class="car-top">
                                <h4><a asp-action="Detail" asp-controller="Car" asp-route-id="@item.Id">@item.Name</a></h4>
                                <div class="car-rate">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Ceiling(item.AverageRating))
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    }
                                    <span>@item.AverageRating.ToString("0.0") (@item.ReviewCount Reviews)</span>
                                </div>
                            </div>
                            <ul class="car-list">
                                <li><i class="far fa-steering-wheel"></i>@item.Transmission</li>
                                <li><i class="far fa-road"></i>@item.Mileage</li>
                                <li><i class="far fa-car"></i>Model: @item.Year</li>
                                <li><i class="far fa-gas-pump"></i>@item.FuelType</li>
                            </ul>
                            <div class="car-footer">
                                <span class="car-price">$@item.Price</span>
                                <a asp-action="Detail" asp-controller="Car" asp-route-id="@item.Id" class="theme-btn"><span class="far fa-eye"></span>Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center mt-4">
            <a asp-action="Index" asp-controller="Car" class="theme-btn">Load More <i class="far fa-arrow-rotate-right"></i> </a>
        </div>
    </div>
</div>


<div class="car-category py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="flaticon-drive"></i> Car Category</span>
                    <h2 class="site-title">Car By Body <span>Types</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
             @foreach (var item in Model.Categories)
            {
            <div class="col-6 col-md-4 col-lg-2">
                    <a asp-action="Index" asp-controller="Accessories" asp-route-dealer="@item.Id" class="category-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="category-img">
                            <img src="~/Images/Category/Car/@item.ExistingImage" alt="@item.Name">
                    </div>
                    <h5>@item.Name</h5>
                </a>
            </div>
            }
        </div>
        <div class="text-center mt-4">
            <a asp-action="Index" asp-controller="Car" class="theme-btn">Load More <i class="far fa-arrow-rotate-right"></i> </a>
        </div>
    </div>
</div>


<div class="video-area pb-120">
    <div class="container-fluid px-0">
        <div class="video-content" style="background-image: url(/Frontend/assets/img/video/01.jpg);">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="video-wrapper">
                        <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="car-dealer pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="flaticon-drive"></i> Car Dealers</span>
                    <h2 class="site-title">Best Dealers In <span>Your City</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
             @foreach (var item in Model.Dealers)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="dealer-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="dealer-img">
                            <span class="dealer-listing">@item.Quantity</span>
                            <a asp-action="Detail" asp-controller="Dealer" asp-route-id="@item.Id">
                                <img src="~/Images/Dealers/Dealer/@item.ImageBackground" alt="@item.Name">
                            </a>
                    </div>
                    <div class="dealer-content">
                            <h4><a asp-action="Detail" asp-controller="Dealer" asp-route-id="@item.Id">@item.Name</a></h4>
                        <ul>
                                <li><i class="far fa-location-dot"></i> @item.Address</li>
                                <li><i class="far fa-phone"></i> <a href="">@item.Phone</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="text-center mt-4">
            <a asp-action="Index" asp-controller="Dealer" class="theme-btn">Load More <i class="far fa-arrow-rotate-right"></i> </a>
        </div>
    </div>
</div>


<div class="choose-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="site-heading wow fadeInDown" data-wow-delay=".25s">
                        <span class="site-title-tagline text-white justify-content-start">
                            <i class="flaticon-drive"></i> Why Choose Us
                        </span>
                        <h2 class="site-title text-white mb-10">We are dedicated <span>to provide</span> quality service</h2>
                        <p class="text-white">
                            There are many variations of passages available but the majority have suffered alteration in some form going to use a passage by injected humour randomised words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="choose-img wow fadeInUp" data-wow-delay=".25s">
                        <img src="~/Frontend/assets/img/choose/01.png" alt>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-content-wrapper wow fadeInRight" data-wow-delay=".25s">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 mt-lg-5">
                            <div class="choose-item">
                                <span class="choose-count">01</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-car"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Best Quality Cars</h3>
                                    <p>
                                        There are many variations of the passages available but the
                                        majo have suffered fact that reader will be dist alteration.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-item mb-lg-0">
                                <span class="choose-count">03</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-drive-thru"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Popular Brands</h3>
                                    <p>
                                        There are many variations of the passages available but the
                                        majo have suffered fact that reader will be dist alteration.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="choose-item">
                                <span class="choose-count">02</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-chauffeur"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Certified Mechanics</h3>
                                    <p>
                                        There are many variations of the passages available but the
                                        majo have suffered fact that reader will be dist alteration.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-item mb-lg-0">
                                <span class="choose-count">04</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-online-payment"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Reasonable Price</h3>
                                    <p>
                                        There are many variations of the passages available but the
                                        majo have suffered fact that reader will be dist alteration.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="car-brand py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="flaticon-drive"></i> Popular Brands</span>
                    <h2 class="site-title">Our Top Quality <span>Brands</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Brands)
            {
            <div class="col-6 col-md-3 col-lg-2">
                    <a asp-action="Index" asp-controller="Car" asp-route-brand="@item.Id" class="brand-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="brand-img">
                            <img src="~/Images/Brand/Car/@item.ExistingImage" width="120px" height="120px" />
                    </div>
                    <h5>@item.Name</h5>
                </a>
            </div>
            }
        </div>
        <div class="text-center mt-4">
            <a asp-action="Index" asp-controller="Car" class="theme-btn">Load More <i class="far fa-arrow-rotate-right"></i> </a>
        </div>
    </div>
</div>


<div class="testimonial-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="flaticon-drive"></i> Testimonials</span>
                    <h2 class="site-title">What Our Client <span>Say's</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme">
            <div class="testimonial-single">
                <div class="testimonial-content">
                    <div class="testimonial-author-img">
                        <img src="~/Frontend/assets/img/testimonial/01.jpg" alt>
                    </div>
                    <div class="testimonial-author-info">
                        <h4>Sylvia H Green</h4>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="testimonial-quote">
                    <span class="testimonial-quote-icon"><i class="flaticon-quote"></i></span>
                    <p>
                        There are many variations of passages available but the majority have
                        suffered to the alteration in some injected.
                    </p>
                </div>
                <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="testimonial-single">
                <div class="testimonial-content">
                    <div class="testimonial-author-img">
                        <img src="~/Frontend/assets/img/testimonial/02.jpg" alt>
                    </div>
                    <div class="testimonial-author-info">
                        <h4>Gordo Novak</h4>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="testimonial-quote">
                    <span class="testimonial-quote-icon"><i class="flaticon-quote"></i></span>
                    <p>
                        There are many variations of passages available but the majority have
                        suffered to the alteration in some injected.
                    </p>
                </div>
                <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="testimonial-single">
                <div class="testimonial-content">
                    <div class="testimonial-author-img">
                        <img src="~/Frontend/assets/img/testimonial/03.jpg" alt>
                    </div>
                    <div class="testimonial-author-info">
                        <h4>Reid E Butt</h4>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="testimonial-quote">
                    <span class="testimonial-quote-icon"><i class="flaticon-quote"></i></span>
                    <p>
                        There are many variations of passages available but the majority have
                        suffered to the alteration in some injected.
                    </p>
                </div>
                <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="testimonial-single">
                <div class="testimonial-content">
                    <div class="testimonial-author-img">
                        <img src="~/Frontend/assets/img/testimonial/04.jpg" alt>
                    </div>
                    <div class="testimonial-author-info">
                        <h4>Parker Jimenez</h4>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="testimonial-quote">
                    <span class="testimonial-quote-icon"><i class="flaticon-quote"></i></span>
                    <p>
                        There are many variations of passages available but the majority have
                        suffered to the alteration in some injected.
                    </p>
                </div>
                <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="testimonial-single">
                <div class="testimonial-content">
                    <div class="testimonial-author-img">
                        <img src="~/Frontend/assets/img/testimonial/05.jpg" alt>
                    </div>
                    <div class="testimonial-author-info">
                        <h4>Heruli Nez</h4>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="testimonial-quote">
                    <span class="testimonial-quote-icon"><i class="flaticon-quote"></i></span>
                    <p>
                        There are many variations of passages available but the majority have
                        suffered to the alteration in some injected.
                    </p>
                </div>
                <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="flaticon-drive"></i> Our Blog</span>
                    <h2 class="site-title">Latest News & <span>Blog</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="blog-item-img">
                        <img src="~/Frontend/assets/img/blog/01.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2023</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available.</a>
                        </h4>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".50s">
                    <div class="blog-item-img">
                        <img src="~/Frontend/assets/img/blog/02.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2023</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available.</a>
                        </h4>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".75s">
                    <div class="blog-item-img">
                        <img src="~/Frontend/assets/img/blog/03.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2023</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available.</a>
                        </h4>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="download-area mb-120">
    <div class="container">
        <div class="download-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="download-content">
                        <div class="site-heading mb-4">
                            <span class="site-title-tagline justify-content-start">
                                <i class="flaticon-drive"></i> Get Our App
                            </span>
                            <h2 class="site-title mb-10">Download <span>Our Motex</span> App For Free</h2>
                            <p>
                                There are many variations of passages available but the majority have suffered in some form going to use a passage by injected humour.
                            </p>
                        </div>
                        <div class="download-btn">
                            <a href="#">
                                <i class="fab fa-google-play"></i>
                                <div class="download-btn-content">
                                    <span>Get It On</span>
                                    <strong>Google Play</strong>
                                </div>
                            </a>
                            <a href="#">
                                <i class="fab fa-app-store"></i>
                                <div class="download-btn-content">
                                    <span>Get It On</span>
                                    <strong>App Store</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="download-img">
                <img src="~/Frontend/assets/img/download/01.png" alt>
            </div>
        </div>
    </div>
</div>
