@model IEnumerable<CarRegistration>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutBackendStaff.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">List Car Registration </div> -------
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="file-export" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Registration Number</th>
                                <th>License Plate</th>
                                <th>Insurance Details</th>
                                <th>Driver's License Number</th>
                                <th>Detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CustomerName</td>
                                    <td>@item.RegistrationNumber</td>
                                    <td>@item.LicensePlate</td>
                                    <td>@item.InsuranceDetails</td>
                                    <td>@item.DriverLicenseNumber</td>
                                    <td>
                                        <a asp-action="Detail" asp-controller="CarRegistration" asp-route-id="@item.Id" asp-area="Staff" class="">
                                            <span class="btn btn-primary"> View Invoice</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-icon btn-sm btn-info-transparent rounded-pill" asp-action="Update" asp-controller="CarRegistration" asp-route-id="@item.Id" asp-area="Staff"> <i class="ri-edit-line"></i> </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

