@model IEnumerable<Motax.Models.Order>
@{
    ViewData["Title"] = "Index order";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutBackendStaff.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">List Order </div>
                <div class="card-title">
                    <a class="btn btn-success label-btn" asp-action="Create" asp-controller="Order"> <i class="ri-chat-smile-line label-btn-icon me-2"></i> Add Order</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="file-export" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Order Code</th>
                                <th>Order Date</th>
                                <th>Delivery Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Check vehicle</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OrderCode</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.DeliveryDate</td>
                                    <td>@item.TotalAmount</td>
                                    <td>
                                        @if (item.OrderStatus != null)
                                        {
                                            @if(item.OrderStatus.Status == "New Order")
                                            {
                                                <span style="color:blue">@item.OrderStatus.Status</span>
                                            }
                                            @if (item.OrderStatus.Status == "Cancelled")
                                            {
                                                <span style="color:red">@item.OrderStatus.Status</span>
                                            }
                                            @if (item.OrderStatus.Status == "Paid")
                                            {
                                                <span style="color:green">@item.OrderStatus.Status</span>
                                            }
                                            @if (item.OrderStatus.Status == "Shipping")
                                            {
                                                <span style="color:orange">@item.OrderStatus.Status
                                                </span>
                                            }
                                            @if (item.OrderStatus.Status == "Delivered")
                                            {
                                                <span style="color:gold">@item.OrderStatus.Status</span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="text-danger">No Status</span>
                                        }
                                    </td>
                                    <td>
                                        <a class="" asp-action="Details2" asp-controller="Order" asp-route-id="@item.Id"> <span class="btn btn-primary">Data Car</span></a>
                                    </td><td>
                                        <a class="" asp-action="Details" asp-controller="Order" asp-route-id="@item.Id"> <span class="btn btn-primary">Detail</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
