@model IEnumerable<Motax.ViewModels.WishlistStarViewModel>
<style>
    .avatar-img {
        width: 110px; /* Thay đổi giá trị này để điều chỉnh chiều rộng */
        height: 110px; /* Thay đổi giá trị này để điều chỉnh chiều cao */
        object-fit: cover; /* Giữ tỉ lệ của ảnh, cắt nếu cần */
        border-radius: 30%; /* Tạo hình tròn cho ảnh */
    }

    .car-btns {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        .car-btns .btn {
            background-color: #ff0000; /* Màu nền đỏ */
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none; /* Loại bỏ gạch chân */
        }

            .car-btns .btn i {
                font-size: 15px;
                color: #ffffff; /* Màu trắng cho icon */
            }

            .car-btns .btn:hover {
                background-color: #d9534f; /* Màu khi hover */
            }

        .car-btns a {
            text-decoration: none; /* Loại bỏ gạch chân cho các liên kết */
</style>

<div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
    <div class="container">
        <h2 class="breadcrumb-title">My Favorites</h2>
        <ul class="breadcrumb-menu">
            <li><a href="/">Home</a></li>
            <li class="active">My Favorites</li>
        </ul>
    </div>
</div>

<div class="user-profile py-120">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="user-profile-sidebar">
                    <div class="user-profile-sidebar-top">
                        <div class="user-profile-img">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var imagePath = ViewData["UserAvatar"] as string;
                                if (!string.IsNullOrEmpty(imagePath))
                                {
                                    <img src="@Url.Content("~/Images/Account/Avatar/" + imagePath)" alt="User Avatar" class="avatar-img">
                                }
                                else
                                {
                                    <img src="~/Frontend/assets/img/account/user.jpg" alt="Default Avatar" class="avatar-img">
                                }
                            }
                            else
                            {
                                <img src="~/Frontend/assets/img/account/user.jpg" alt="Default Avatar" class="avatar-img">
                            }

                        </div>
                        @*  <h5>@Model.Username</h5>
                        <p>Email: @Model.Email</p> *@
                    </div>
                    <ul class="user-profile-sidebar-list">
                        <li><a asp-action="Profile" asp-controller="Secure"><i class="far fa-user"></i> My Profile</a></li>

                        <li><a asp-action="MyOrder" asp-controller="Order"><i class="far fa-user"></i> My Order</a></li>

                        <li><a asp-action="Wishlist" asp-controller="Car"><i class="far fa-heart"></i> My Favorites</a></li>
                        <li><a asp-action="Compare" asp-controller="Car"><i class="far fa-layer-group"></i> My Compare</a></li>
                        <li><a href="profile-message.html"><i class="far fa-envelope"></i> Messages <span class="badge badge-danger">02</span></a></li>
                        <li><a asp-action="Logout" asp-controller="Secure"><i class="far fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="user-profile-wrapper">
                    <div class="user-profile-card profile-favorite">
                        <h4 class="user-profile-card-title">My Favorites</h4>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6 col-lg-4">
                                    <div class="car-item">
                                        <div class="car-img">
                                            <span class="car-status @(item.Car.Condition == "New" ? "status-2" : "status-1")">@item.Car.Condition</span>
                                            <a asp-action="Detail" asp-controller="Car" asp-route-id="@item.CarId">
                                            <img src="~/Images/Car/Single/@item.Car.ImageSingle" alt="@item.Car.Name">
                                            </a>
                                            <div class="car-btns">
                                                <form asp-action="RemoveFromWishlist" asp-controller="Car" method="post" class="d-inline">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="wishlistId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0"><i class="far fa-xmark"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-top">
                                                <h4><a asp-action="Detail" asp-controller="Car" asp-route-id="@item.CarId">@item.Car.Name</a></h4>
                                                <div class="car-rate">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= Math.Ceiling(item.AverageRating))
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star"></i>
                                                        }
                                                    }
                                                    <span>@item.AverageRating.ToString("0.0") (@item.ReviewCount Reviews)</span>
                                                </div>
                                            </div>
                                            <ul class="car-list">
                                                <li><i class="far fa-steering-wheel"></i>@item.Car.Transmission</li>
                                                <li><i class="far fa-car"></i>Model: @item.Car.Year</li>
                                                <li><i class="far fa-road"></i>@item.Car.Mileage</li>
                                                <li><i class="far fa-gas-pump"></i>@item.Car.FuelType</li>
                                            </ul>
                                            <div class="car-footer">
                                                <span class="car-price">$@item.Car.Price</span>
                                                <a asp-action="Detail" asp-controller="Car" asp-route-id="@item.CarId" class="theme-btn"><span class="far fa-eye"></span>Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- Pagination here if needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}