@model IEnumerable<Motax.ViewModels.DealerAdminVM>
@{
    ViewData["Title"] = "Index Dealer";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutBackendStaff.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">List Dealer</div>
                <div class="card-title">
                    <a class="btn btn-success label-btn" asp-action="Create" asp-controller="Dealer"> <i class="ri-chat-smile-line label-btn-icon me-2"></i> Add Dealer</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="file-export" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name Dealer</th>
                                <th>Message</th>
                                <th>Detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Images/Dealers/Dealer/@item.ImageBackgroundPath" width="150px" height="100px" />
                                    </td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a asp-action="Messages" asp-controller="Dealer" asp-route-id="@item.Id">
                                            @if (item.MessageCount > 0)
                                            {
                                                <span class="badge bg-danger">@item.MessageCount</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-secondary">0</span>
                                            }
                                            Messages
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Detail" asp-controller="Dealer" asp-route-id="@item.Id">View</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-icon btn-sm btn-info-transparent rounded-pill" asp-action="Edit" asp-controller="Dealer" asp-route-id="@item.Id"> <i class="ri-edit-line"></i> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
