@model IEnumerable<OrderAccessories>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutBackendStaff.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">List Order Accessories </div> -------
                <div class="card-title">
                    
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="file-export" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Type Code</th>
                                <th>Order Date</th>
                                <th>Name Customer</th>
                                <th>How to pay</th>
                                <th>Status</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.TypeCode</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.Username</td>
                                    <td>@item.HowToPay</td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <span class="text text-success">Show</span>
                                        }
                                        else
                                        {
                                            <span class="text text-danger">Hide</span>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Detail" asp-controller="OrderAccessories" asp-route-id="@item.Id">View</a>
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

